#content {
    display: none;
}

#controls {
    margin-top: 8px;
}

#current-demand .lead {
    margin-top: 5px;
    margin-bottom: 0px;
}

.engine-type-label {
    position: relative;
    top: 20px;
    color: #494949;
    font-weight: bolder;
}

.engine-row {
    text-align: center;
}

.progress {
    margin-bottom: 0px;
}

.engine-row-controls {
    margin-top:20px;
}